<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th.href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1>Category list</h1>
    <table class="table table-striped">
        <tr th:each="category: ${categories}">
            <td th:text="${category.name}"></td>

        </tr>
    </table>
    <a class="btn btn-success" th:href="@{/addcategory}">Add category</a>
</body>

</html>