<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit book</h1>
    <form action="#" th:action="@{/updatebook}" method="post" th:object="${book}">
        <p>Title: <input type="text" th:field="*{title}"/></p> <!-- tähti-merkinnällä voi korvata ${book.title} -->
        <p>Author: <input type="text" th:field="*{author}"/></p>
        <p><input type="submit" value="Save"/></p>
    </form>
    
</body>
</html>